.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 0;
    // .header__container
    &__container {
        @include breakpoint($tablet) {
            padding: 0 40px;
        }
        @include breakpoint($mobile) {
            padding: 0 15px;
        }
    }
    // .header__content
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    // .header__logo
    &__logo {
    }
    // .header__logo-link
    &__logo-link {
    }
    // .header__logo-img
    &__logo-img {
        height: auto;
        max-width: 100%;
    }
    // .header__nav
    &__nav {
        padding-top: 35px;
        @include breakpoint($mobile) {
            background-color: #fff;
            height: 100vh;
            width: 80%;
            position: fixed;
            top: 0;
            right: -80%;
            box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
            z-index: 100;
            transition: all 0.5s ease-in-out;
            &.active {
                right: 0;
            }
        }
    }
    // .header__nav-items
    &__nav-items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        @include breakpoint($mobile) {
            flex-direction: column;
            align-items: flex-start;
            padding: 14px 0 0 30px;
        }
    }
    // .header__nav-item
    &__nav-item {
        &:not(:last-child) {
            padding-right: 25px;
        }
        @include breakpoint($mobile) {
            padding-bottom: 10px;
            &:not(:last-child) {
                padding-right: 0;
            }
        }
    }
    // .header__nav-link
    &__nav-link {
        color: #1d1d1d;
        font-size: 17px;
        text-transform: uppercase;
        line-height: 25px;
        letter-spacing: 1px;
        text-decoration: none;
        transition: $animation-transition;
        &:hover,
        &.active {
            color: $pink-color;
        }
    }
}

.burger-btn {
    @include breakpoint($mobile) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -45px;
        top: 10px;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #f64a5f;
        border-radius: 4px;
        span,
        span:before,
        span:after {
            content: "";
            display: block;
            position: absolute;
            width: 15px;
            height: 2px;
            background-color: #fff;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
        }
        span {
            top: 50%;
            transform: translateY(-50%);
        }
        span::before {
            transform: translateY(-5px);
        }
        span::after {
            transform: translateY(5px);
        }

        &.active span {
            background-color: transparent;
        }
        &.active span::before {
            transform: rotate(45deg);
        }
        &.active span::after {
            transform: rotate(-45deg);
        }
    }
}
