.subscribe {
    background: url("../img/bg/bg6.jpg") center / cover no-repeat;
    padding: 144px 0 172px 0;
    @include breakpoint($tablet) {
        padding: 70px 0;
    }
    @include breakpoint($mobile) {
        background-position: 60%;
    }
    // .subscribe__container
    &__container {
    }
    // .subscribe__content
    &__content {
        width: 100%;
    }
    // .subscribe__info
    &__info {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include breakpoint($tablet) {
            width: 70%;
        }
        @include breakpoint($mobile) {
            width: 100%;
        }
    }
    // .subscribe__title
    &__title {
        color: $main-color;
        font-size: 51px;
        font-weight: 300;
        line-height: 61px;
        letter-spacing: 1px;
        margin-bottom: 20px;
        text-align: center;
        @include breakpoint($tablet) {
            font-size: 45px;
        }
        @include breakpoint($mobile) {
            font-size: 31px;
            line-height: 37px;
        }
    }
    // .subscribe__text
    &__text {
        color: $gray-color;
        font-family: $font-second;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 37px;
    }
    // .subscribe__form
    &__form {
        width: 100%;
        display: flex;
    }
    // .subscribe__form-email
    &__form-email {
        padding: 16px 25px;
        margin-left: 14px;
        border-radius: 30px 0 0 30px;
        background-color: $white-color;
        font-family: $font-main;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 22px;
        letter-spacing: 1px;
        border: 1px solid #e1e1e1;
        outline: none;
        transition: $animation-transition;
        flex: 1 1 auto;
        &:focus {
            box-shadow: 0 0 10px #e0e0e8;
        }
        &::placeholder {
            color: #bababa;
        }
        &:focus::placeholder {
            color: $gray-color;
        }
        @include breakpoint($mobile) {
            width: 100%;
            padding: 16px 0 16px 17px;
            margin: 0;
        }
    }
    // .subscribe__form-btn
    &__form-btn {
        padding: 21px 63px;
        margin-right: 15px;
        border-radius: 0 30px 30px 0;
        @include breakpoint($mobile) {
            width: 29%;
            padding: 21px 15px;
            margin: 0;
        }
    }
}
