.testimonials {
    background: url("../img/bg/bg5.jpg") center / cover no-repeat;
    padding: 120px 0;
    @include breakpoint($tablet) {
        padding: 70px 0;
    }
    @include breakpoint($mobile) {
        padding: 50px 0;
    }
    // .testimonials__container
    &__container {
    }
    // .testimonials__content
    &__content {
    }
    // .testimonials__title
    &__title {
        font-size: 51px;
        font-weight: 700;
        line-height: 61px;
        letter-spacing: 1px;
        text-align: center;
        color: $main-color;
        margin-bottom: 15px;
        @include breakpoint($tablet) {
            font-size: 48px;
        }
        @include breakpoint($mobile) {
            font-size: 40px;
            line-height: 50px;
        }
    }
    // .testimonials__text
    &__text {
        color: $main-color;
        font-family: $font-second;
        font-size: 17px;
        line-height: 23px;
        text-align: center;
        margin-bottom: 60px;
        @include breakpoint($tablet) {
            margin-bottom: 25px;
            font-size: 16px;
        }
        @include breakpoint($mobile) {
            margin-bottom: 20px;
            font-size: 14px;
        }
    }
    // .testimonials__slider
    &__slider {
        @include breakpoint($tablet) {
            width: 700px;
        }
        @include breakpoint($mobile) {
            width: 300px;
        }
    }
    // .testimonials__slider-wrapper
    &__slider-wrapper {
    }
    // .testimonials__slider-slide
    &__slider-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.slider-slide {
    // .slider-slide__image
    &__image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 43px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    // .slider-slide__content
    &__content {
    }
    // .slider-slide__comment
    &__comment {
        color: $gray-color;
        font-family: $font-second;
        font-size: 20px;
        line-height: 34px;
        max-width: 775px;
        text-align: center;
        margin-bottom: 24px;
        @include breakpoint($tablet) {
            font-size: 14px;
            line-height: 22px;
        }
        @include breakpoint($mobile) {
            width: 260px;
        }
    }
    // .slider-slide__name
    &__name {
        display: inherit;
        color: $pink-color;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.5px;
        text-align: center;
        text-decoration: none;
        margin-bottom: 5px;
    }
    // .slider-slide__position
    &__position {
        display: inherit;
        color: #bdbdbd;
        font-family: $font-second;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 2px;
        align-self: center;
        text-align: center;
    }
}
.swiper-button-prev {
    transition: $animation-transition;
    &::after {
        display: none;
    }
    &.fa {
        font-size: 35px;
        color: $gray-color;
        top: 85px;
        left: 360px;
        @include breakpoint($tablet) {
            top: 85px;
            left: 130px;
        }
        @include breakpoint($mobile) {
            top: 20%;
            left: 10%;
        }
    }
    &:hover,
    &:focus {
        color: $pink-color;
    }
}
.swiper-button-next {
    transition: $animation-transition;
    &::after {
        display: none;
    }
    &.fa {
        color: $gray-color;
        font-size: 35px;
        top: 85px;
        right: 360px;
        @include breakpoint($tablet) {
            top: 85px;
            right: 130px;
        }
        @include breakpoint($mobile) {
            top: 20%;
            right: 10%;
        }
    }
    &:hover,
    &:focus {
        color: $pink-color;
    }
}
