// font
$font-main: "PT Serif", serif; // 400+i, 700+i
$font-second: "Poppins", sans-serif; // 300, 400, 600

// colors
$main-color: #1d1d1d;
$pink-color: #f64a5f;
$white-color: #fff;

// animation
$animation-transition: all 0.3s ease-in-out;

// media
$tablet: 1024px;
$mobile: 767px;
